@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Questrial', sans-serif;
}
*{
  box-sizing: border-box;
}
.information {
  height: 92vh;
  width: 100%;
  overflow: scroll;
}


