@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Questrial', sans-serif;
}
*{
  box-sizing: border-box;
}
.information {
  height: 92vh;
  width: 100%;
  overflow: scroll;
}

/* Home page CSS */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: white;
  width: 100%;
  height: 8vh;
}
h2 {
  padding: 15px 20px;
  margin: 0;
}
h2 span {
  font-size: 16px;
  color: #A8D2A9;
}
.helpIcon {
  width: 24px;
  margin-right: 15px;
}
.instructions {
  margin-top: 8vh;
  height: 84vh;
  position: absolute;
  background-color:rgba(211,211,211, 0.5);
  z-index: 4;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions h4 {
  margin: 5px 0;
  font-size: 20px;
}
.instructions ol {
  background-color: white;
  margin: 0 10px;
  border-radius: 10px;
  padding: 20px 15px 20px 35px;
  padding-right: 15px;
  box-shadow: 2px 2px 2px 2px gray;
}
.welcome {
  height: 50vh;
  background-image: url("https://res.cloudinary.com/dwbqzx4rr/image/upload/v1585637806/maps_yixbos.png");
  background-position: center;
  background-size: cover;
  color: black;
  text-align: center;
  font-size: 28px;
  margin: 40px 0 0 0;
}
.welcome h4 {
  padding: 0 20px;
  margin: 0;
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.5)
}
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: center;
  flex: 1;
  /* display: flex;
  flex-direction: column;
  align-items:center; */
}
.logo{
  height: 18px;
  width: 15px;
}
.markerLogo {
  margin-top: 10px;
  width: 18px;
  height: 18px;
  border: 2px solid black;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  background-color: white;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol {
  font-size: 16px;
  line-height: 1em;
  margin-right: 15px;
}
ol li {
  padding: 5px 0;
  
}
.homeForm {
  margin: 10px;
  border: 2px solid  rgba(0, 0, 0, 0.1);
}
.homeForm p{
  padding: 5px 0;
}
.formName {
  position: relative;
  height: 24px;
}
.formAddress {
  position: relative;
  height: 24px;
}
input {
  box-sizing: border-box;
  position: absolute;
  top: 0%;
  left: 0%;
  border: 1px solid transparent;
  background-color: white;
  width: 80vw;
  height: 36px;
  margin: 10px 20px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  z-index: 1;
}
button {
  font-size: 14px;
  margin: 15px;
  border: 2px solid black;
  /* border-radius: 5px; */
  width: 100px;
  height: 25px;
  background-color: white;
  margin: 10px 20px;
}
.alert {
  color:#66CC44;
  font-size: 14px;
}
.checkMark {
  width: 12px;
  display: inline;
}
h3  {
  color: #A8D2A9;
  text-align: left;
  margin: 10px 25px;
}


/* SimpleMap CSS */
.dmarker {
  width: 26px;
  /* height: 38px; */
  /* background-color: red;
  border: 2px solid #fff; */
  border-radius: 100%;
  /* user-select: none; */
  transform: translate(-50%, -50%);
}
.rmarker{
  width: 18px;
  height: 18px;
  border: 2px solid white;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  /* background-color: #1973E7; */
  background-color: red;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  margin-right: 1px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: white;
}
.infoRBox {
  background-color: white;
  padding: 5px 10px;
  width: 130px;
  border-radius: 5px;
  box-shadow: 2px 0px 2px lightGray;
  transform: translate(-47%, 15%);
  color: black;
  text-align: center;
  z-index: 4;
}
.infoRBox:before {
 content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -8px;
  left:60px;
}
.infoDBox {
  background-color: white;
  padding: 5px 10px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 0px 2px lightGray;
  transform: translate(-50%, -30%);
  color: black;
  /* text-align: center; */
  z-index: 8;
}
.infoDBox:before {
  content : " ";
   width: 0;
   height: 0;
   /* background-color: black; */
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-bottom: 10px solid #fff;
   position: absolute;
   top: -8px;
   left:50px;
 }
p {
  padding-top: 4px;
  margin: 0;
  text-align: center;
}
h5 {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0
}
span {
  font-size: 14px;
  display: inline;
  font-weight: bold;
}
/* .marker:hover {
    z-index: 1;
  } */
.plusSign {
  height: 18px;
  width: 18px;
  border: 2px solid black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0;
  font-size: 12px;
  margin-left: 5px;
}
.allDrivers {
  position: absolute;
  height: 92vh;
  width: 100%;
  background-color:rgba(211,211,211, 0.5);
  /* transform: translate(-40%, -140%); */
  color: black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exit {
  position: absolute;
  top: 0%;
  right: 0%;
  color: #696969;
  /* background-color: black; */
  font-size: 40px;
  padding: 20px;
}
.allDrivers ul {
  width: 200px;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.allDrivers ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  /* border-bottom: 1px solid lightGray; */
  align-items: center;
}
.allDrivers ul li:hover {
  cursor: pointer;
}
.exitInfo {
  color: gray;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 2px 6px 20px 10px;
}

/* List page CSS  */
.list {
  background-color: #FFFFFF;
  /* background-image: url("https://img.freepik.com/free-vector/map-with-marked-route_23-2147624233.jpg?size=338&ext=jpg");
  background-size: cover;
  background-position: center; */
  height: 84vh;
  margin-top: 8vh;
}
.overlay {
  position: absolute;
  top: 8vh;
  /* background-color: rgba(255,255,255,0.5); */
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.fullList {
  margin: 30px 0;
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.assignWithTitle {
  margin: 30px 0;
  flex:1;
  width: 300px;
  padding: 3px;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.assignWithTitle h3 {
  color: #A8D2A9;
  padding-top:0;
  margin-top: 10px;
  text-align: left;
}
.listTitles {
  margin: 5px;
  text-decoration: underline;
  text-align: left;
}
.listComponent h4 {
  margin: 5px;
  margin-left: 5px;
  color: black;
  text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-left: 5px;
  text-align: left;
}
ul li {
  padding: 0;
}
.assign {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.listComponent {
  width: 30%;
}

