/* List page CSS  */
.listInformation header {
  visibility: hidden;
}
.list {
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.list h4 {
  margin: 15px 0;

}
.fullList {
  margin: 15px 0;
  width: 300px;
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.fullList h4{
  padding: 0;
  margin: 10px;
  text-decoration: underline;
} 

.list h2{
  color: #A8D2A9;
  padding-top:20px;
  text-align: center;
}
.assign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.fullList ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  /* margin-left: 5px; */
  text-align: left;
}
.fullList ul li {
  margin: 0 10px;
  padding: 20px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px){
  .list h2 {
    font-size: 36px;
  }
  .list h3 {
    font-size: 32px;
    padding: 20px 0;
  }
  .fullList {
    width: 600px;
  }
  .fullList h4 {
    font-size: 24px;
  }
  .assign ul li {
    font-size: 20px;
  }
}
@media (min-width: 1024px){
  .assign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .fullList {
    width: 35vw;
    margin: 50px;
    align-self: start;
  }
  .fullList h4 {
    font-size: 28px;
  }
  .assign ul li {
    font-size: 20px;
  }
}