/* SimpleMap CSS */
  .mapInformation Header {
    visibility: hidden;
  }
  .dmarker {
    width: 26px;
    /* height: 38px; */
    /* background-color: red;
    border: 2px solid #fff; */
    border-radius: 100%;
    /* user-select: none; */
    transform: translate(-50%, -50%);
  }
  .rmarker{
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    /* background-color: #1973E7; */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  .rmarkerAssign {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    /* background-color: #1973E7; */
    background-color: blue;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle {
    margin-right: 1px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: white;
  }
  .infoRBox {
    background-color: white;
    padding: 5px 10px;
    width: 130px;
    border-radius: 5px;
    box-shadow: 2px 0px 2px lightGray;
    transform: translate(-46%, 9%);
    color: black;
    text-align: left;
    z-index: 1;
  }
  hr {
    margin: 0;
    margin-bottom: 3px;
  }
  .infoRBox:before {
   content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -8px;
    left:58px;
  }
  .infoDBox {
    background-color: white;
    padding: 5px 10px;
    width: 120px;
    border-radius: 5px;
    box-shadow: 2px 0px 2px lightGray;
    transform: translate(-50%, -18%);
    color: black;
    text-align: left;
    /* text-align: center; */
    z-index: 200;
  }
  .infoDBox:before {
    content : " ";
     width: 0;
     height: 0;
     /* background-color: black; */
     border-left: 10px solid transparent;
     border-right: 10px solid transparent;
     border-bottom: 10px solid #fff;
     position: absolute;
     top: -8px;
     left:50px;
   }
  p {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }

  h5 {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
  }
  span {
    font-size: 14px;
    display: inline;
    font-weight: bold;
  }
  .assignDriver {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .plusSign {
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .allDrivers {
    position: absolute;
    height: 92vh;
    width: 100%;
    background-color:rgba(211,211,211, 0.5);
    /* transform: translate(-40%, -140%); */
    color: black;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .exit {
    position: absolute;
    top: 0%;
    right: 0%;
    color: #696969;
    /* background-color: black; */
    font-size: 40px;
    padding: 20px;
  }
  .allDrivers ul {
    width: 200px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .allDrivers ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    /* border-bottom: 1px solid lightGray; */
    align-items: center;
  }
  .allDrivers ul li:hover {
    cursor: pointer;
  }
  .exitInfo {
    color: gray;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    padding: 0 6px;
  }
  @media (min-width: 768px){
    .mapInformation{
      height: 92vh;
    }
    .dmarker {
      width: 32px;
    }
    .rmarker, .rmarkerAssign {
      width: 22px;
      height: 22px;
    }
    .circle {
      width: 8px;
      height: 8px;
    }
    .infoRBox, .infoDBox {
      width: 150px;
    }
    .infoRBox:before {
      left: 70px;
    }
    .infoDBox:before {
      left: 65px;
    }
    p, h5 {
      font-size: 14px;
    }
    span {
      font-size: 16px;
    }
    .allDrivers ul {
      width: 280px;
    }
    .allDrivers ul li {
      font-size: 24px;
    }
    .plusSign {
      width: 28px;
      height: 28px;
      font-size: 14px;
    }
  }
  @media (min-width: 1024px){
    .mapInformation {
      height: 100vh;
    }
    .nav {
      display: flex;
      z-index: 1;
    }

  }