@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
html {
  height: 100%;
}
body {
  margin: 0 0 7vh 0;
}
.App {
  text-align: left;
  font-family: 'Questrial', sans-serif;
}
* {
  box-sizing: border-box;
}
.information, .mapInformation {
  height: 92vh;
  width: 100%;
  overflow: scroll;
}
@media (min-width: 1024px){
  body {
    margin: 0;
  }
}